* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: black;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

.calculator {
	border: 1px solid lightblue;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	max-width: 312px;
}

.calculator__output {
	margin-bottom: 20px;
	color: aliceblue;
	text-align: end;
	font-size: 50px;
	font-weight: 400;
	word-wrap: break-word;
}

.calculator__btns {
	display: grid;
	grid-template-columns: repeat(4, 60px);
	grid-template-rows: repeat(5, 60px);
	gap: 10px;
}

.btns__item {
	cursor: pointer;
	font-family: inherit;
	background-color: rgb(81, 78, 78);
	border: none;
	border-radius: 100%;
	padding: 15px;
	color: aliceblue;
	font-size: 20px;
}

.btns__item:hover {
	background-color: rgb(102, 99, 99);
}

.options {
	background-color: rgb(163, 164, 170);
	color: black;
}

.operations {
	background-color: orange;
}

.operations:hover {
	background-color: rgb(230, 175, 71);
}

.pull {
	grid-column: 2 span;
	border-radius: 31px;
}

.options:hover {
	background-color: rgb(208, 209, 212);
}

.active {
	background-color: #fff;
	color: orange;
}